* {
  /* box-sizing: border-box; */
}
.Palette {
  height: 100vh;
}
.Palette-colors {
  height: 90vh;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 0.5rem; */
  /* margin-right: 1rem; */
  align-items: center;
  height: 4vh;
  font-weight: 600;
}

.Palette-footer > span {
  font-size: 1.5rem;
  margin: 0 1rem;
}

